<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>219586571886-repf4u4lgs56415aqe5fp5s5ve8kak7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219586571886-repf4u4lgs56415aqe5fp5s5ve8kak7p</string>
	<key>API_KEY</key>
	<string>AIzaSyBcXlzAQ5VZf2xFI5GAMmLA0ne4YrraBZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>219586571886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IslamElgaafary.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>chatapp-8d25d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-8d25d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219586571886:ios:c83349c0f5dc76c0</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-8d25d.firebaseio.com</string>
</dict>
</plist>